html,
body {
	height: 100%;
	margin: 0;
}

* {
	box-sizing: border-box;
}

.root-2-col {
    display:flex;
}

.root-2-col > * {
    width:200px;
    padding:1rem;
}

#app {
	font-family: Arial, sans-serif;
	.note{
		.tag{
			background-color: bisque;
			padding: 5px 10px;
		}
	}
}
